<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SiteStudent.master.cs" Inherits="sidiWeb.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INTRANET - IDI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/83ea73d82a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="~/Resources/studentStyles.css" rel="stylesheet" />
    <link href="~/Resources/recursos.css" rel="stylesheet" />
    <link href="~/Resources/ayuda.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.29/jspdf.plugin.autotable.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <!-- NUEVO: Contenedor principal que centra TODO -->
        <div class="main-wrapper">

            <!-- Top Navbar -->
            <nav class="navbar navbar-expand-lg top-navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler d-lg-none" type="button" id="sidebarToggle">
                        <i class="fas fa-bars"></i>
                    </button>
                    <a class="navbar-brand text-white d-flex align-items-center"
                        href="https://idiomas.unjfsc.edu.pe/"
                        target="_blank"
                        rel="noopener noreferrer">
                        <img src="/img/logo-instituto-idiomas.png"
                            alt="IDIOMAS FAUSTINO Logo"
                            class="institute-logo"
                            style="max-height: 60px; width: auto;" />
                    </a>
                    <div class="ms-auto">
                        <div class="dropdown">
                            <button class="btn text-white d-flex gap-2" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-circle fa-lg fs-1"></i>
                                <span id="nombreUsuario">Ricardo Jose</span>
                                <i class="fa fa-chevron-down fs-6" aria-hidden="true"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <asp:LinkButton ID="btnCerrarSesion" runat="server" CssClass="dropdown-item text-danger" OnClick="btnCerrarSesion_Click">
                                        <i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión
                                    </asp:LinkButton>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <!-- Sidebar -->
                    <div class="col-md-3 col-lg-2 sidebar">
                        <div class="nav flex-column">
                            <asp:LinkButton ID="btnInicio" runat="server" OnClick="btnVerInicio_Click" class="nav-link">
    <i class="fa-regular fa-house"></i> Inicio
                            </asp:LinkButton>

                            <asp:LinkButton ID="btnMatricula" runat="server" OnClick="btnMatricula_Click" class="nav-link">
    <i class="fas fa-file-signature"></i> Matrícula Virtual
                            </asp:LinkButton>

                            <asp:LinkButton ID="btnGrupo" runat="server" OnClick="btnVerGrupos_Click" class="nav-link">
    <i class="fa-solid fa-book-open"></i> Mis Cursos
                            </asp:LinkButton>

                            <asp:LinkButton ID="btnAsistencias" runat="server" OnClick="btnRecordAsis_Click" class="nav-link">
    <i class="fa-regular fa-file-lines"></i> Asistencias y Notas
                            </asp:LinkButton>

                            <asp:LinkButton ID="btnPagos" runat="server" OnClick="btnVerPagos_Click" class="nav-link">
    <i class="fa-regular fa-credit-card"></i> Pagos realizados
                            </asp:LinkButton>

                            <asp:LinkButton ID="btnRecursos" runat="server" OnClick="btnrecursos_Click" class="nav-link">
    <i class="fa-solid fa-layer-group"></i> Recursos
                            </asp:LinkButton>

                            <asp:LinkButton ID="btnPerfil" runat="server" OnClick="btnVerPerfil_Click" class="nav-link">
    <i class="fa-regular fa-user"></i> Perfil
                            </asp:LinkButton>

                            <asp:LinkButton ID="Content2" runat="server" OnClick="btnVerAyuda_Click" class="nav-link">
    <i class="fa-solid fa-circle-question"></i> Ayuda
                            </asp:LinkButton>


                            <%--<asp:LinkButton ID="LinkButton2" runat="server" OnClick="btnPagalo_Click" class="nav-link">
                                <i class="fas fa-credit-card"></i> Guía Págalo.pe
                            </asp:LinkButton>
                          <asp:LinkButton ID="btnrecursos" runat="server" OnClick="btnrecursos_Click" class="nav-link">
                                <i class="fas fa-folder-open"></i> Recursos
                            </asp:LinkButton>
                            <a href="https://aulainstitutoidiomas.unjfsc.edu.pe/login/index.php" target="_blank" class="nav-link">
                                <i class="fas fa-user-circle"></i> AULA VIRTUAL
                            </a>--%>
                            <hr />
                            <div class="text-muted ps-3">Guía al usuario</div>
                            <a href="https://bit.ly/42XM5RP" target="_blank" class="nav-link">
                                <i class="fas fa-book"></i>Reglamento académico
                            </a>
                            <a href="https://bit.ly/44QHbaN" target="_blank" class="nav-link">
                                <i class="fas fa-book"></i>Primeros pasos básicos
                            </a>
                        </div>
                    </div>

                    <!-- Main Content -->
                    <div class="col-md-9 col-lg-10 content-wrapper">
                        <asp:ContentPlaceHolder ID="MainContent" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </div>
            </div>
            <footer>
                <div id="footer">
                    <table align="center">
                        <tbody>
                            <tr>
                                <td style="text-align: center; color: #FFFFFF;">Universidad Nacional José Faustino Sánchez Carrión<br>
                                    Ciudad Universitaria - Av. Mercedes Indacochea N 609</td>
                            </tr>
                            <tr>
                                <td style="text-align: center; color: #FFFFFF;">Huacho - Perú </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </footer>

        </div>
        <!-- FIN del main-wrapper -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#sidebarToggle').click(function () {
                    $('.sidebar').toggleClass('active');
                });

                $(document).click(function (event) {
                    var sidebar = $('.sidebar');
                    var sidebarToggle = $('#sidebarToggle');
                    if (!sidebar.is(event.target) && sidebar.has(event.target).length === 0 &&
                        !sidebarToggle.is(event.target) && sidebarToggle.has(event.target).length === 0) {
                        sidebar.removeClass('active');
                    }
                });
                document.querySelectorAll('[style="position: fixed; z-index: 2147483647; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: transparent; margin: 0px; padding: 0px;"], [style="opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;"]').forEach(el => {
                    el.style.display = 'none';
                });
            });
        </script>
        <asp:ContentPlaceHolder ID="Scripts" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
