# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
*.cache
*.pdb
*.ilk

# Rider
.idea/

# Logs
*.log

# IIS Express
*.dbmdl

# NuGet packages (si usan restore)
packages/

# Publish profiles sensibles
*.pubxml.user

# OS files
Thumbs.db
.DS_Store