.profile-header {
    background-image: url("/img/diseño-perfil.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 480px;
    height: 533px;
}

.foto-perfil{
    object-fit: contain;
    width: 50%;
}